{% load static %}

<section class="banner-area banner-brand fix" id="banner">
  <div class="banner-5 p-relative">
    <div class="banner-5-content-shape">
      <div class="banner-5-content-shape-one">
        <img src="{% static "assets/img/shape/banner-5-shape-10.png" %}" alt="" />
      </div>
      <div class="banner-5-content-shape-two">
        <i
          ><svg
            width="1475"
            height="362"
            viewBox="0 0 1475 362"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="line-dash-path"
              d="M1474 361C1451.67 263 1275 49 638.999 261C2.99927 473 -98.5012 187 79.4993 1"
              stroke="url(#paint0_linear_434_178)"
              stroke-dasharray="4 5"
            ></path>
            <defs>
              <linearGradient
                id="paint0_linear_434_178"
                x1="342"
                y1="152"
                x2="1623"
                y2="432"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="1" stop-color="#010F1C" stop-opacity="0.4"></stop>
                <stop offset="1" stop-color="#010F1C" stop-opacity="0"></stop>
              </linearGradient>
            </defs></svg
        ></i>
      </div>
    </div>
    <div class="container">
      <div class="banner-5-shape">
        <div class="banner-5-shape-one">
          <img src="{% static "assets/img/shape/banner-5-shape-1.png" %}" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-xl-7 col-lg-6 order-2 order-lg-1">
          <div class="banner-5-content p-relative pt-80">
            <h3 class="banner-5-title">
              Des solutions numériques
              

              <span id="headline1" style="color:#007cf5;">

              </span>
              

            </h3>
            <p>
              Nous combinons notre expertise à une variété de ressources pour
              <br />créer des solutions numériques innovantes répondant aux
              <br />exigences de nos partenaires et clients.
            </p>
            <div class="banner-5-btn">
              <a class="light-blue-btn mr-20" href="#about">Qui sommes-nous ?</a
              ><span
                >Nos projets<a href="#case">
                  <i class="fa-solid fa-arrow-right"></i> </a
              ></span>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6 order-1 order-lg-2">
          <div class="banner-5-thumb p-relative">
            <img src="{% static "assets/img/banner/banner-5-bg-1.png" %}" alt="" />
            <div class="banner-5-thumb-shape d-none d-md-block">
              <div class="banner-5-thumb-shape-one d-none d-lg-block">
                <img src="{% static "assets/img/shape/banner-5-shape-7.png" %}" alt="" />
              </div>
              <div class="banner-5-thumb-shape-four">
                <img src="{% static "assets/img/shape/clapper.png" %}" alt="" />
              </div>
              <div class="banner-5-thumb-shape-five">
                <img src="{% static "assets/img/shape/dev.png" %}" alt="" />
              </div>
              <div class="banner-5-thumb-shape-six">
                <img src="{% static "assets/img/shape/palette.png" %}" alt="" />
              </div>
              <div class="banner-5-thumb-shape-seven"></div>
              <div class="banner-5-thumb-shape-eight"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
