<!-- about-area-start -->
<section class="about-area about-inner-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about-inner-wrap">
          <div class="about-inner-content-2 d-flex align-items-center mb-45">
            <span>Que</span>
            <h4 class="about-inner-title-2">Faisons-nous en {{category.name}} ?</h4>
          </div>
          <p class="pl-30">
            {{category.info}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about-area-end -->
