     {% load static %}
  <!-- breadcrumb-area-start -->  
  <section class="breadcrumb-area breadcrumb-overlay pb-115 pt-195 p-relative jarallax" data-background="{% static "assets/img/bg/service-bg.jpg" %}">
    <div class="container">
       <div class="row">
          <div class="col-xxl-12">
             <div class="breadcrumb__content breadcrumb__content-2 text-center p-relative z-index-1">
                <h3 class="breadcrumb__title">Nos Services</h3>
                <div class="breadcrumb__list">
                   <span><a href="/">Accueil</a></span>
                   <span class="dvdr"></span>
                   <span>{{category.name}}</span>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="inner-shape-dots">
       <img src="assets/img/shape/inner-dots-shape.png" alt="">
    </div>
 </section>