{% load static %}
<footer>
  <div class="footer-area pt-100">
    <div class="container">
      <div class="footer-top">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-widget footer-col-1 mb-40">
              <div class="footer-widget-logo mb-20">
                <a href="index.html"
                  ><span
                    ><img src="{% static "assets/img/logo/logo-orange.svg" %}" alt="" /></span
                ></a>
              </div>
              <div class="footer-widget-content">
                <p class="footer-widget-text mb-20">
                  Des solutions numériques pour résoudre les problèmes du
                  quotidien.
                </p>
                <div class="footer-widget-social">
                  <span>Suivez-nous sur :</span
                  ><a
                    href="https://web.facebook.com/profile.php?id=61561705828400"
                    target="blank"
                    ><i class="fa-brands fa-facebook-f"></i></a
                  ><a href="#t"><i class="fa-brands fa-twitter"></i></a
                  ><a href="https://github.com/rezolusoft"
                    ><i class="fa-brands fa-github"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-widget footer-col-2 mb-40">
              <h4 class="footer-widget-title mb-15">Information</h4>
              <div class="footer-widget-link">
                <ul>
                  <li><a href="#banner">Accueil</a></li>
                  <li><a href="#about">A propos</a></li>
                  <li><a href="#services">Services</a></li>
                  <li><a href="/work">Project</a></li>
                  <li><a href="#">Carrières</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-widget footer-col-3 mb-40">
              <h4 class="footer-widget-title mb-15">Services</h4>
              <div class="footer-widget-link">
                <ul>
                  <li><a href="/services/software_dev">Développement Web</a></li>
                  <li><a href="/services/software_dev">Développement d'applications</a></li>
                  <li><a href="/services/design_ux">Design et UX</a></li>
                  <li><a href="/services/content">Création de contenu</a></li>
                  <li>
                    <a href="/services/software_dev">Maintenance et Support</a>
                  </li>
               
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-widget footer-col-4 mb-40">
              <h4 class="footer-widget-title mb-20">S'abonner.</h4>
              <div class="footer-widget-newsletter">
                <p>C'est le début d'une grande aventure</p>
                <form action="#">
                  <div class="footer-widget-newsletter-input mb-15">
                    <input type="email" placeholder="Votre Mail" /><span
                      ><svg
                        width="18"
                        height="16"
                        viewBox="0 0 18 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13 14.6H5C2.6 14.6 1 13.4 1 10.6V5C1 2.2 2.6 1 5 1H13C15.4 1 17 2.2 17 5V10.6C17 13.4 15.4 14.6 13 14.6Z"
                          stroke="#565764"
                          stroke-width="1.5"
                          stroke-miterlimit="10"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          d="M13 5.39844L10.496 7.39844C9.672 8.05444 8.32 8.05444 7.496 7.39844L5 5.39844"
                          stroke="#565764"
                          stroke-width="1.5"
                          stroke-miterlimit="10"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path></svg
                    ></span>
                  </div>
                  <button class="footer-widget-newsletter-btn">
                    S'abonner.
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="row">
          <div class="col-lg-12">
            <div class="footer-widget-copyright text-center">
              <span>© 2024 Copyrights Rezolusoft. All Rights Reserved.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
