{% load static %}
<section class="breadcrumb-area breadcrumb-2-bg pb-130 pt-195" data-background="{% static "assets/img/breadcrumb/breadcrumb-bg-3.jpg" %}" style="background-image: url(&quot;{% static "assets/img/breadcrumb/breadcrumb-bg-3.jpg" %}&quot;);">
    <div class="container">
       <div class="row">
          <div class="col-xxl-12">
             <div class="breadcrumb__content breadcrumb__content-2 text-center p-relative z-index-1">
                <h3 class="breadcrumb__title">Nos Projets</h3>
                <div class="breadcrumb__list">
                   <span><a href="index.html">Accueil</a></span>
                   <span class="dvdr"></span>
                   <span>Projets</span>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>