{% load static %}
  <!-- breadcrumb-area-start -->
  <div class="breadcrumb-services-area services-details-bg scene breadcrumb-bg p-relative">
    <div class="about-inner-shape">
       <div class="about-inner-shape-2 d-none d-md-block">
          <img class="layer" data-depth="0.5" src="{% static "assets/img/shape/about-inner-shape-1.png" %}" alt="">
       </div>
       <div class="about-inner-shape-3 d-none d-md-block">
          <img class="layer" data-depth="0.5" src="{% static "assets/img/shape/about-inner-shape-2.png" %}" alt="">
       </div>
    </div>
    <div class="tpbanner-shape-y scene-y">
      {% comment %}  <div class="about-inner-shape-4 d-none d-lg-block">
          <img class="layer" data-depth="0.6" src="{% static "assets/img/shape/inner-hand-1.png" %}" alt="">
       </div> {% endcomment %}
    </div>
 </div>
 <!-- breadcrumb-services-area-end -->
