$green: #0b9a01;
$dark: #2c2c5a;
$light:#fffcfc;
$primary: #1c9ad6;


// Path to Bulma's sass folder

@use 'bulma/sass' with (

  $grey-dark: $dark,
  $dark: $dark,
  $grey-light: $primary,
  $primary: $primary,
  $success: $green,


);

